<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://uicdn.toast.com/tui-grid/latest/tui-grid.css" />
    <script src="https://uicdn.toast.com/tui-grid/latest/tui-grid.js"></script>

<!--    <link th:href="@{/common/css/client.css}" rel="stylesheet" type="text/css" />-->
<!--    <link th:href="@{/common/css/common.css}" rel="stylesheet" type="text/css" />-->
<!--    <link th:href="@{/vendor/toast-ui/tui-grid.css}" rel="stylesheet" type="text/css" />-->
<!--    <link rel="stylesheet" href="https://uicdn.toast.com/tui-grid/latest/tui-grid.css" />-->
<!--    <link th:href="@{vendor/toast-ui/tui-grid.js}" rel="script">-->


</head>
<body>

    <script>
        const Grid = tui.grid;
    </script>
</body>
</html>